body{
background-color: #A9E2F3;
width: 80%;
height: auto;
margin: 0 auto; 
}

h1, h2{
	font-family: arial, helvetica, sans-serif;
    color: brown;

}
h1{
	text-align: center;
	text-decoration: underline;
}
p{
	font-family: arial, helvetica, sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
    line-height: 25px;
}
.p2{
	font-family: verdana;
	font-size: 15px;
	color: green;
}
mark{
	background-color: green;
}
strong{
    color: orange;
	font-family: calibri;
	font-size: 25px;

}